@import "tailwindcss";
@plugin "daisyui" {
  themes: light 
}

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-footer-100: #1F2937;
  --color-footer-200: #111826;
  --color-nav-bg: #00000079;
  --color-phone-nav-bg: #000000;
  --color-light: #FFFFFF;
  --color-dashboard-bg:'#c2914e';
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --background-image-bistro-banner: url("https://i.postimg.cc/kX6ftrkR/chef-service.jpg");
  --background-image-feature-bg: url("https://i.postimg.cc/fLzg3vDC/featured.jpg");
  --background-image-authention-bg: url("https://i.postimg.cc/fLzg3vDC/featured.jpg");


}

.active{
  color: yellow;
}


.react-tabs__tab--selected {
  color: rgb(255, 149, 0) !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid rgb(255, 149, 0) !important;
  /* color:#151515; */
}
.react-tabs__tab {
  
  font-size: 1.5rem;
  font-weight: 500;  
  padding: 10px 0px 5px 0px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  outline: none !important;
}